* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nimbus Mono L', sans-serif;
    text-decoration:none;
}

body, html {
    width: 100%; 
    height: 100%;
}


.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, 300px );
    grid-gap: 40px;
    grid-auto-flow: row dense;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    padding:20;
    box-sizing:border-box;
}

.grid-element {
    color:#fff;
    height:300px;
    width:300px; 
    position:relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .grid-element {
        width:100%;
    }
}

.grid-element .element-info {
    text-align:center;
    padding:10px;
    width:100%;
    background:hsla(0, 50%, 50%, 0.6);
    box-sizing:border-box;
    position:absolute;
    bottom:0px;
}

.element-info h3, .element-info h4 {
    color:white;
}

.element-info  h4 {
    font-size:90%;
}

.grid-element img {
    height:300px;
    width:300px;
}

.element-info-box {
    height:100%;
    width:100%;
    background: black;
    box-sizing: border-box;
    padding:20px;
    text-align: center;
}

.element-info-box ul {
    padding: 60px 0px 40px 20px;
}

.element-info-box li {
    text-align: left;
    list-style: none;
}

.element-info-box a {
    color: hsl(0, 80%, 50%);
}

.element-info-box a:hover {
    color: hsl(0, 80%, 50%);
    text-decoration: underline;
}

.filtered-element {
    filter:grayscale(100%);
}
.filtered-element:hover {
    filter:grayscale(0%);
}
